.main {
  background-color: #F8797C;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

.title {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 700%;
}

.input {
  margin-left: 10%;
  margin-right: 10%;
  width: 20%;
}
